extends layout

block content
  h1= title
  p= shortDesc
  br
  h3 Example Usage:
  pre= usage
  br
  h3 Example Output:
  pre= output
  br
  p Link for testing:
  p: a(href="/hp/whoami" target="_blank") TEST
