extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li: a(href="/ts") timestamp
    li: a(href="/hp") header parser
    li: a(href="/fmd") file metadata
    li: a(href="/urls") url shortener
    li: a(href="/img") image search
