extends layout

block content
  div.row
    div.col-xs-12
      h1= title
      p= shortDesc
  div.row
    div.col-xs-12.col-md-6
      h3 Example Usage:
      pre= usage 
    div.col-xs-12.col-md-6
      h3 Example Output:
      pre= output
  div.row
    br
    div.col-xs-12.col-md-6.col-md-offset-3.panel.well.well-lg
      form(action="/urls/new" method="post" name="url-form")
        div.form-group
          input(type="url" name="original_url" placeholder="http://www.example.com/your/url/goes/here" style="width: 100%;" required)
        div.form-group
          input.btn.btn-primary.btn-block(type="submit" value="Submit")
